<template>
  <div>
    <div class="welcome-video-wrapper">
      <video id="" class="welcome-video" autoplay muted>
        <source src="/opening.mp4" type="video/mp4" />
        Your browser does not support HTML5 video.
      </video>
    </div>
    <nav
      id="menu"
      class=" w-full flex fixed items-center justify-between flex-wrap bg-teal-500 lg:bg-transparent p-6"
    >
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <img src="/logo.jpg" alt="logo" class="logo" />
      </div>
      <div class="block lg:hidden">
        <button
          class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white"
        >
          <svg
            class="fill-current h-3 w-3"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
      <div
        class="w-full block lg:flex justify-center lg:items-center lg:w-auto"
      >
        <div class="text-xl">
          <a
            id="menu_home"
            href="#page"
            class="block mt-4 lg:inline-block lg:mt-0 text-white hover:underline mr-4 underline"
          >
            Home
          </a>
          <a
            id="menu_about_us"
            href="#page/about_us"
            class="block mt-4 lg:inline-block lg:mt-0 text-white hover:underline mr-4"
          >
            About Us
          </a>
          <a
            id="menu_products"
            @mouseenter="toggleSubMenu(true)"
            href="#"
            class="block relative mt-4 lg:inline-block lg:mt-0 text-white hover:underline mr-4"
          >
            Products & Services
            <div
              v-if="isOpen"
              @mouseleave="toggleSubMenu(false)"
              class="absolute right-0 -mt-6 pt-6 pb-2 w-48 text-base z-10 text-center"
            >
              <a href="#page/products" class="block ml-4 py-2 hover:underline"
                >Products</a
              >
              <a href="#page/services" class="block ml-4 py-2 hover:underline"
                >Services</a
              >
            </div>
          </a>
          <a
            id="menu_pricing"
            href="#page/pricing"
            class="block mt-4 lg:inline-block lg:mt-0 text-white hover:underline mr-4"
          >
            Pricing
          </a>
          <a
            id="menu_contact_us"
            href="#page/contact_us"
            class="block mt-4 lg:inline-block lg:mt-0 text-white hover:underline mr-4"
          >
            Contact Us
          </a>
        </div>
      </div>
      <div class="w-full block lg:flex lg:items-center lg:w-auto"></div>
    </nav>
    <full-page id="fullpage" :options="options">
      <div class="section active">
        <div class="slide relative flex" data-anchor="home">
          <video
            id="video-home"
            class="background-video"
            preload="auto"
            muted
            loop
          >
            <source data-src="/video1.mp4" type="video/mp4" />
            Your browser does not support HTML5 video.
          </video>
          <div
            class="flex flex-grow justify-center flex-col text-white home-text"
          >
            <h1 class="big-text">
              Our Concern<br />
              about what <br />
              the earth is about.
            </h1>
            <h2 class="mt-4 ml-6 text-2xl italic">
              A company that strives to provide renewable energy products and
              services to your<br />
              door step...
            </h2>
          </div>
        </div>
        <div class="slide" data-anchor="about_us">
          <div class="flex h-screen">
            <div class="flex flex-col w-1/2">
              <div class="flex" style="height: 50%;">
                <div class="flex w-1/2 pt-20 bg-gray-300 bg-tree-1"></div>
                <div class="flex w-1/2 pt-20 bg-gray-400 bg-product-1"></div>
              </div>
              <div class="flex w-full px-10 py-20" style="height: 50%;">
                <p class="font-bold text-3xl">
                  Our mission is helping to achieve
                  <span class="zero">ZERO Emission</span> for all road
                  transportaion in Singapore and ASEAN region by allowing all
                  electric vehicle owners to charge their EV anytime, anywhere.
                </p>
              </div>
            </div>
            <div class="flex w-1/2 relative bg-about-right">
              <div
                tabindex="-1"
                class="fixed h-full top-0 bg-black opacity-50 cursor-default"
                style="width: 50vw;"
              ></div>
              <div
                class="text-white px-12"
                style="margin-top: 25%;z-index: 11;opacity: 0.95;"
              >
                <h1 class="text-6xl font-bold mb-4">About Us</h1>
                <p class="text-base mb-8">
                  Joshua Aviv started SparkCharge in 2014 while attending
                  Syracuse University. As a student, Joshua wanted to be able to
                  travel long distanceds without worrying about his electric car
                  running out of range due to blocked or broken charging
                  stations. He realized this problem was much bigger than
                  expected due to severely lacking electric vehicle charging
                  infrastructure in the US.
                </p>
                <p class="text-base mb-8">
                  The conventional method of charging electric vehicles at
                  immobile charging stations is highly inconvenient and
                  impractical. SGo EVs vision is to revolutionize the way
                  electric vehicle owneres charge. By createing a portable,
                  ultrafast, and modular charging station, Go Ev is eliminating
                  range anxiety for EV owners everywhere.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="slide" data-anchor="pricing"></div>
        <div class="slide" data-anchor="contact_us"></div> -->
      </div>
    </full-page>
  </div>
</template>

<script>
export default {
  data() {
    return {
      active: {
        home: true,
        aboutUs: false
      },
      isOpen: false,
      windowOpen: false,
      options: {
        licenseKey: 'OPEN-SOURCE-GPLV3-LICENSE',
        // afterLoad: this.afterLoad,
        scrollOverflow: false,
        scrollBar: false,
        verticalCentered: false,
        loopHorizontal: false,
        menu: '#menu',
        navigation: true,
        anchors: ['page'],
        controlArrows: false,
        sectionsColor: [],
        afterLoad(origin, destination, direction) {
          if (origin.index === 0) {
            setTimeout(function() {
              document.getElementById('video-home').play()
            }, 7100)
            /* if (promise !== undefined) {
              promise
                .then((_) => {
                  console.log('yes')
                })
                .catch(() => {
                  console.log('nope')
                })
            } */
          }
        },
        afterSlideLoad(section, origin, destination, direction) {
          const home = document.getElementById('menu_home')
          const aboutUs = document.getElementById('menu_about_us')
          const products = document.getElementById('menu_products')
          const pricing = document.getElementById('menu_pricing')
          const contactUs = document.getElementById('menu_contact_us')
          if (destination.anchor === 'home') {
            home.classList.add('underline')
            aboutUs.classList.remove('underline')
            products.classList.remove('underline')
            pricing.classList.remove('underline')
            contactUs.classList.remove('underline')

            document.getElementById('video-home').play()
          } else if (destination.anchor === 'about_us') {
            home.classList.remove('underline')
            aboutUs.classList.add('underline')
            products.classList.remove('underline')
            pricing.classList.remove('underline')
            contactUs.classList.remove('underline')
          } else if (
            destination.anchor === 'products' ||
            destination.anchor === 'services'
          ) {
            home.classList.remove('underline')
            aboutUs.classList.remove('underline')
            products.classList.add('underline')
            pricing.classList.remove('underline')
            contactUs.classList.remove('underline')
          } else if (destination.anchor === 'pricing') {
            home.classList.remove('underline')
            aboutUs.classList.remove('underline')
            products.classList.remove('underline')
            pricing.classList.add('underline')
            contactUs.classList.remove('underline')
          } else if (destination.anchor === 'contact_us') {
            home.classList.remove('underline')
            aboutUs.classList.remove('underline')
            products.classList.remove('underline')
            pricing.classList.remove('underline')
            contactUs.classList.add('underline')
          }
        }
      }
    }
  },
  methods: {
    toggleSubMenu(state) {
      this.isOpen = state
    }
  }
}
</script>

<style>
.welcome-video-wrapper {
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* border: 10px solid red; */
  border-radius: 0;
  z-index: 102;
  overflow: hidden;
  -webkit-animation-name: welcome;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 6s;
  animation-name: welcome;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 6s;
}

@keyframes welcome {
  0% {
    margin-left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    display: 1;
  }
  50% {
    border-radius: 0;
  }
  99% {
    opacity: 1;
  }
  100% {
    margin-left: 1.5rem;
    width: 127px;
    height: 80px;
    /* opacity: 0; */
  }
}

.welcome-video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 101;
  background-size: cover;
  overflow: hidden;
}

#fp-nav {
  display: none;
}

nav {
  z-index: 100;
}

nav a {
  font-weight: 400;
}

nav .active {
  text-decoration: underline;
}

.logo {
  margin: -24px 0;
  height: 80px;
}

.background-video {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10;
}

.home-text {
  padding-top: 20%;
  padding-left: 5%;
}

.big-text {
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
}

.bg-tree-1 {
  background-image: url('/tree-left.png');
  background-position: 0 40%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.bg-product-1 {
  background-image: url('/products.png');
  background-position: 98% 60%;
  background-size: 300%;
  background-repeat: no-repeat;
}

.bg-about-right {
  background-image: url('/about-right.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.zero {
  color: #97d356;
}

html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.fp-section {
  position: relative;
  -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box; /* <=28 */
  box-sizing: border-box;
}
.fp-slide {
  float: left;
}
.fp-slide,
.fp-slidesContainer {
  height: 100%;
  display: block;
}
.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out;
}
.fp-section.fp-table,
.fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}
.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.fp-slidesContainer {
  float: left;
  position: relative;
}
.fp-controlArrow {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.fp-controlArrow.fp-prev {
  left: 15px;
  width: 0;
  border-width: 38.5px 34px 38.5px 0;
  border-color: transparent #fff transparent transparent;
}
.fp-controlArrow.fp-next {
  right: 15px;
  border-width: 38.5px 0 38.5px 34px;
  border-color: transparent transparent transparent #fff;
}
.fp-scrollable {
  overflow: hidden;
  position: relative;
}
.fp-scroller {
  overflow: hidden;
}
.iScrollIndicator {
  border: 0 !important;
}
.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important;
}
#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
}
#fp-nav.fp-right {
  right: 17px;
}
#fp-nav.fp-left {
  left: 17px;
}
.fp-slidesNav {
  position: absolute;
  z-index: 4;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: 0 !important;
  right: 0;
  margin: 0 auto !important;
}
.fp-slidesNav.fp-bottom {
  bottom: 17px;
}
.fp-slidesNav.fp-top {
  top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}
.fp-slidesNav ul li {
  display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #333;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px;
}
#fp-nav ul li .fp-tooltip {
  position: absolute;
  top: -2px;
  color: #fff;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  white-space: nowrap;
  max-width: 220px;
  overflow: hidden;
  display: block;
  opacity: 0;
  width: 0;
  cursor: pointer;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  width: auto;
  opacity: 1;
}
#fp-nav ul li .fp-tooltip.fp-right {
  right: 20px;
}
#fp-nav ul li .fp-tooltip.fp-left {
  left: 20px;
}
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
  height: auto !important;
}

.fp-responsive .fp-auto-height-responsive.fp-section,
.fp-responsive .fp-auto-height-responsive .fp-slide,
.fp-responsive .fp-auto-height-responsive .fp-tableCell {
  height: auto !important;
}

/*Only display content to screen readers*/
.fp-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
</style>
